.header {
  border-bottom: 5px solid #74d416;
}
.header a:hover {
  text-decoration: none;
}
.header .header__logo .header-logo__name {
  font-size: 2rem;
  font-weight: bold;
  color: #57a808;
}
.header .header__search i {
  position: relative;
  right: 30px;
  color: #bababa;
}
.header .header__search input[type=text] {
  border: 2px solid #bababa;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}
.header .header__search input[type=text]:focus, .header .header__search input[type=text]:hover {
  border-color: #74d416;
  outline: none;
}
.header .header__search input[type=text]::placeholder {
  color: #bababa;
  opacity: 1;
}

footer {
  flex: 0 0 auto;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
a:hover, a:focus {
  text-decoration: none;
}
