.header {
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .header__logo {
    .header-logo__name {
      // font-family: Lato sans-serif;
      font-size: 2rem;
      font-weight: bold;
      color: $hover-green;
    }
    .header-logo__image {
      width: 40px;
    }
  }
  .header__search {
    .header-search__btn {
      border: none;
      background: 0 0;
      padding: 0;
      position: relative;
      right: 30px;
      color: $grey;
    }
    input[type="text"] {
      border: 2px solid $grey;
      border-radius: 7px;
      overflow: hidden;
      position: relative;
      &:focus,
      &:hover {
        border-color: $green;
        outline: none;
      }
      &::placeholder {
        color: $grey;
        opacity: 1;
      }
    }
  }
  /*
    Top menu
    */
  .header__menu {
    border-top: 5px solid $green;
    background: $bg-menu;
    #menu-top {
      margin-left: 0;
      font-weight: bold;
      text-transform: uppercase;
      color: $white;
      span {
        color: $white;
      }
      .active {
        background-color: $green;
      }
      .menu-item {
        a {
          &::after {
            display: none !important;
          }
        }
        padding: 10px 0;
        &:hover {
          background-color: $green;
        }
        .dropdown-menu {
          background-color: $hover-green;
          display: none;
          top: 99%;
          padding: 0px;
          left: -1px;
          border-radius: 0px 0px 7px 7px;
          margin: 0px;
          .menu-item {
            .dropdown-menu {
              left: 100%;
              top: 0;
              border-radius: 0;
              top: -1px;
              span {
                text-transform: uppercase;
                font-weight: bold;
              }
              .menu-item {
              }
            }
            .dropdown-item {
              padding: 8px 0.5rem;
              &:hover {
                background-color: $green;
              }
            }
          }
        }
      }
    }
  }
}
