@import "./colors";
@import "./header/header.scss";
@import "./footer/footer.scss";
@import "./preloader";

.wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
